{% if page.nocomments %}
{% else %}
<div id="container"></div>
<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<script src="https://billts.site/js/gitment.js"></script>
<script>
var gitment = new Gitment({
  id: '<%= page.date %>', // 可选。默认为 location.href
  owner: 'LonlyPan',
  repo: 'LonlyPan.github.io',
  oauth: {
    client_id: 'fcab210fc0e662f105df',
    client_secret: 'eccbe43937a375a840deee5bc1c245b5bcae3bd9',
  },
})
gitment.render('container')
</script>
{% endif %}
