{% if page.nocomments %}
{% else %}
<div id="container"></div>
<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<script src="https://billts.site/js/gitment.js"></script>
<script>
var gitment = new Gitment({
  id: '<%= page.date %>', // 可选。默认为 location.href
  owner: 'LonlyPan',
  repo: 'LonlyPan.github.io',
  oauth: {
    client_id: '9b452048a9319a2bf342',
    client_secret: '73e688d2fa8cbd28c04310394227d8805123dd20',
  },
})
gitment.render('container')
</script>
{% endif %}
